{% extends 'base.html.twig' %}

{% block title %}CDRom index
{% endblock %}

{% block body %}


	<div class="table">
		<h1>Rechercher un Cd-Rom</h1>

		{{ form_start(form) }}
		<div class="form-row align-items-end">
			<div class="col">
				{{ form_row(form.titre) }}
			</div>
			<div class="col">
				{{ form_row(form.cote) }}
			</div>
			<div class="col">
				<div class="form-group">
					<button class="btn btn-primary">Rechercher</button>
				</div>
			</div>
		</div>
		{% do form.author.setRendered() %}
		{{ form_end(form) }}


		<table class="table" id="lstindex">
			<thead>


				<tr class="table-primary">
					<th>Title</th>
					<th>Cote</th>
					<th>Disponible</th>
					<th>Auteur</th>
					<th>Caution</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for c_d_rom in c_d_roms %}
					<tr class="table-warning">
						<td>{{ c_d_rom.title }}</td>
						<td>{{ c_d_rom.cote }}</td>
						<td>{{ c_d_rom.availability ? 'Oui' : 'Non' }}</td>
						<td>{{ c_d_rom.authtor }}</td>
						<td>{{ c_d_rom.bail }}</td>
						<td>
							<a class="btn btn-primary" href="{{ path('c_d_rom_show', {'id': c_d_rom.id}) }}">show</a>

							{% if is_granted('ROLE_VOLONTEER') %}
								<a class="btn btn-success" href="{{ path('c_d_rom_edit', {'id': c_d_rom.id}) }}">edit</a>
							{% endif %}


						</td>

					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>

		{% if is_granted('ROLE_VOLONTEER') %}
			<a class="btn btn-warning" href="{{ path('c_d_rom_new') }}">Create new</a>
		{% endif %}

	{% endblock %}
	{% block javascripts %}

		{{ knp_pagination_render(c_d_roms) }}
		<script>
			{% include "filter/_filters.js" %}</script>
	</div>

{% endblock %}
