{% extends 'base.html.twig' %}

{% block title %}MicroFilm{% endblock %}

{% block body %}
    <h1>MicroFilm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ micro_film.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ micro_film.title }}</td>
            </tr>
            <tr>
                <th>Cote</th>
                <td>{{ micro_film.cote }}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{{ micro_film.availability ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ micro_film.picture }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ micro_film.createdAt ? micro_film.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('micro_film_index') }}">back to list</a>

    {% if is_granted('ROLE_VOLONTEER') %}
        <a href="{{ path('micro_film_edit', {'id': micro_film.id}) }}">edit</a>
        {{ include('micro_film/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
