{% extends 'base.html.twig' %}

{% block title %}Loan{% endblock %}

{% block body %}
    <h1>Emprunt {{loan.id}}</h1>

    <table class="table"></table>
        <tbody>
            <tr>
                <th>User</th>
                <td>User (link)</td>
            </tr>
             <tr>
                <th>Resources</th>
                <td>Resources (list/link)</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ loan.createdAt ? loan.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UdatedAt</th>
                <td>{{ loan.udatedAt ? loan.udatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Searchable</th>
                <td>{{ loan.searchable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ loan.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('loan_index') }}">back to list</a>

    <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>

    {{ include('loan/_delete_form.html.twig') }}
{% endblock %}
